/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26/07/2025, 7:30:10 p. m.
    Author     : enriq
*/

body {
  background-color:#f0f4f8;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-header {
  background:linear-gradient(90deg, #002e71, #0f86d4);
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.3);
}

.menu-button {
  background-color:#1e90ff;
  color:white;
  font-weight:bold;
  padding:10px 20px;
  border-radius:8px;
  transition:all 0.3s ease;
}

.menu-button:hover {
  background-color:#004b7c;
  color:#fff;
}

.nav-item.dropdown{
    margin-left:50px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display:block;
    margin-top:0;
}

.dropdown-item-red:hover {
    background:red;
    color:white;
    margin:2px 2px 2px 2px;
}

.dropdown-item-blue:hover {
    background:#1e90ff;
    color:white;
    margin:2px 2px 2px 2px;
}

.navbar-nav .nav-link {
    color:#e0f0ff;
    font-weight:600;
}

.navbar-nav .nav-link:hover {
    color:#1e90ff;
    text-decoration:underline;
}

.navbar {
    position:sticky;
    top:0;
}

.btn-edit, .btn-delete {
    margin:0 5px;
    transition:background-color 0.3s ease;
}

.btn-edit {
    background-color:#1e90ff;
    color:white;
}

.btn-edit:hover {
    background-color:#004b7c;
    color:white;
}

.btn-delete {
    background-color:#e10600;
    color:white;
}

.btn-delete:hover {
    background-color:#b00500;
    color:white;
}

.btn-save{
    background-color:#1e90ff;
    color:white;
    transition:background-color 0.3s ease;
}

.btn-save:hover {
    background-color:#004b7c;
    color:white;
}

.grap-text{
    max-width:1px; 
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
}

.pressed-list:pressed {
    color: white;
}

.pressed-list:hover{
    color: white;
}

.modal.fade .modal-dialog {
    position:absolute;
    top:15.3%;
    right:-50%;
    transform:translateY(-50%); 
    transition:right 0.5s ease-in-out; 
    width:20%;
}

.modal.show .modal-dialog {
    right:0;
}

.modal-backdrop.show {
    background-color:black;
}
