.bg-kincaps {
    background: linear-gradient(90deg, #002e71, #0f86d4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.text-kincaps {
    color: #3da9fc;
}

.btn-outline-primary:hover {
    box-shadow: 0 0 15px #1e90ff;
}

.btn-light.text-kincaps {
    transition: all 0.3s ease;
}

.btn-light.text-kincaps:hover {
    background-color: #1e90ff;
    color: white;
    transform: scale(1.05);
}

.navbar-nav .nav-link {
    color: #e0f0ff;
    font-weight: 600;
}

.navbar-nav .nav-link:hover {
    color: #1e90ff;
    text-decoration: underline;
}

.hero-section {
    margin: 10px;
    height: 450px;
    background: linear-gradient(to bottom, rgba(13, 27, 61, 0.9), rgba(61, 137, 252, 0.8));
}

.hero-section h1,.hero-section p {
    text-shadow: 2px 2px 8px rgba(0, 0, 80, 0.7);
}

.card {
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    transition: border-color 0.4s ease-out, box-shadow 0.4s ease-out, transform 0.4s ease-out;
}

.card:hover {
    border-color: #1e90ff;
    box-shadow: 0 0 15px 3px rgba(30, 144, 255, 0.7);
    transform: translateY(-10px);
}

.navbar {
    position: sticky;
    top: 0;
}

.insignia-tipo {
    position: absolute;
    top: 10px;
    right: -35px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: flex-end;  
    justify-content: center;
    padding-bottom: 4px;
    transform: rotate(45deg);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.tipo-f1 {
    background-color: #e10600; 
    color:white;
}

.tipo-toyota {
    background-color: #eb0a1e; 
    color:white;
}

.tipo-NY {
    background-color: #222222; 
    color:white;
}

.tipo-MB {
    background-color: #aaaaaa ; 
    color:white;
}
